.spectacle-slide {
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.spectacle-edit > div, 
.spectacle-edit > a, 
.spectacle-edit > p, 
.spectacle-edit > img, 
.spectacle-edit > blockquote, 
.spectacle-edit > pre, 
.spectacle-edit > table, 
.spectacle-edit > ul,
.spectacle-edit > h1,
.spectacle-edit > h2,
.spectacle-edit > h3,
.spectacle-edit > h4,
.spectacle-edit > h5,
.spectacle-edit > h6{
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.spectacle-edit > div:hover, 
.spectacle-edit > a:hover, 
.spectacle-edit > p:hover, 
.spectacle-edit > img:hover, 
.spectacle-edit > blockquote:hover, 
.spectacle-edit > pre:hover, 
.spectacle-edit > table:hover, 
.spectacle-edit > ul:hover,
.spectacle-edit > h1:hover,
.spectacle-edit > h2:hover,
.spectacle-edit > h3:hover,
.spectacle-edit > h4:hover,
.spectacle-edit > h5:hover,
.spectacle-edit > h6:hover,
.spectacle-edit > div.gu-transit, 
.spectacle-edit > a.gu-transit, 
.spectacle-edit > p.gu-transit, 
.spectacle-edit > img.gu-transit, 
.spectacle-edit > blockquote.gu-transit, 
.spectacle-edit > pre.gu-transit, 
.spectacle-edit > table.gu-transit, 
.spectacle-edit > ul.gu-transit,
.spectacle-edit > h1.gu-transit,
.spectacle-edit > h2.gu-transit,
.spectacle-edit > h3.gu-transit,
.spectacle-edit > h4.gu-transit,
.spectacle-edit > h5.gu-transit,
.spectacle-edit > h6.gu-transit{
  border: 1px dashed #ddd;
}

/* Firefox */

_:-moz-tree-row(hover), .spectacle-deck {
  perspective: 1000px;
}

_:-moz-tree-row(hover), ul .appear {
  display: inline;
}

@keyframes pacmanTopFrames {
  0% { transform: rotateZ(0deg) }
  100% { transform: rotateZ(-30deg) }
}

@keyframes pacmanBottomFrames {
  0% { transform: rotateZ(0deg) }
  100% { transform: rotateZ(30deg) }
}

@keyframes pacmanTopFramesBis {
  0% { transform: rotateZ(0deg) }
  100% { transform: rotateZ(-30deg) }
}

@keyframes pacmanBottomFramesBis {
  0% { transform: rotateZ(0deg) }
  100% { transform: rotateZ(30deg) }
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
